* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    margin-bottom: 20px;
}

body p {
    font-style: italic;
}

.card {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    .card__content {
        background: rgba(150, 170, 230, 1);
        color: #222;
        max-width: 400px;
        margin: 0 auto;
        padding: 30px 50px;
        border: 1px solid #999;
        border-radius: 20px;
        transition: all .3s ease-in-out;

        /*     box-shadow: 5px 5px 3px 1px #933; */
        &:hover {
            box-shadow: 5px 5px 3px 1px rgb(46, 5, 83);
            transform: translateY(-5px);
            cursor: pointer;
        }
    }

    .card__title {
        font-weight: 600;
        color: #cc6666;
    }
}

.slide-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    animation: scroll 10s linear infinite;

    .slide-item {
        .img-placeholder {
            background: #999;
            width: 200px;
            height: 80px;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        animation: none;
        align-items: center;
    }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(-600px);
  }
}

a {
    display: block;
    text-align: center;
}

.response-container {}

#response {}